.skills-container {

    grid-template-columns: repeat(2, 450px);
    column-gap: 3rem;
    justify-content: center;
}

.skills-content {

    background-color: var(--container-color);
    border: 1px solid #A1BE95;
    padding: 2rem 4rem;
    border-radius: 1.25rem;
}

.skills-title {

    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5)
}

.section-subtitle {
    color: var(--text-color);
}

.skill-box-wrap {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;

}

.skills-group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills-data {
    display: flex;
    column-gap: 0.5rem;
}

.bx {
    color: var(--text-color);
}

.skills {
    font-size: 1.3rem;
    color: var(--title-color);
}

.skills-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills-level {
    color: var(--text-color);
    font-size: var(--small-font-size);
}

/*break-points*/
/*LG-Device*/
@media screen and (max-width:992px) {
    .skills-container {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

/*MD-Device*/
@media screen and (max-width:576px) {
    .skills-container {
        grid-template-columns: 1fr;
    }

    .skills-content {
        padding: 2.5rem;
    }
}

/*SM-Device*/
@media screen and (max-width:350px) {
    .skill-box-wrap {
        column-gap: 1.25rem;
    }

    .skills-name {
        font-size: var(--smaller-font-size);
    }
}