#download-button {
    display: inline-flex;
    gap: 1rem;

}

.about-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
}

.about-img {
    width: 450px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about-info {
    grid-template-columns: repeat(3, 200px);
    gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.about-box {
    background-color: var(--title-color-dark);
    border: 1px solid #A1BE95;
    border-radius: 0.75rem;
    text-align: center;
    padding: 2rem 1.25rem;
}

.about-icon {
    font-size: 2.5rem;
    color: var(--text-color);
}

.about-title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.about-subtitle {
    font-size: var(--small-font-size);
}

.about-description {
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
    text-align: justify;
}

/*break-points*/
/*LG-Device*/
@media screen and (max-width:992px) {
    .about-container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about-img {
        width: 220px;
    }

    .about-box {
        padding: 0.75rem 0.5rem;
    }

    .about-data {
        text-align: center;
    }

    .about-info {
        justify-content: center;
    }

    .about-description {
        padding: 0 7.5rem;
        text-align: justify;
    }
}

/*MD-Device*/

@media screen and (max-width:576px) {
    

    .about-info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-description {
        padding: 0;
    }
}


/*SM-Device*/
@media screen and (max-width:350px) {
    .about-info {
        grid-template-columns: repeat(2, 1fr);
    }
}