.footer {
    margin-right: 50px;
    margin-left: 50px;
    justify-content: center;
    gap: 30px;
}



.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.footer-topleft p {
    font-size: 15px;
    max-width: 400px;
    text-align: justify;
}



.footer-email-input {
    display: flex;
    gap: 30px;
    padding: 10px 30px;
    border-radius: 50px;
    background: #31473A;
    padding-right: 80px;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}

.footer-subscribe {
    font-size: 20px;
    padding: 12px 25px;
    border-radius: 50px;
    background: #A1BE95;
    cursor: pointer;
    transition: 0.3s;
}

.footer-bottom {
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.footer-email-input:hover {
    border: 2px solid #A1BE95;
}

/*break-points*/
/*LG-Device*/
@media screen and (max-width:992px) {
    .footer {
        margin: 50px 70px;
    }

    .footer-top {
        gap: 50px;
    }

    .footer-bottom {
        display: flex;

        margin-bottom: 50px;
    }
}

/*MD-Device*/
@media screen and (max-width:768px) {
    .footer {
        margin: 50px 70px;
    }


    .footer-bottom {
        display: flex;

        margin-bottom: 50px;
    }
}

/*SM-Device*/
@media screen and (max-width:568px) {
    .footer-topleft p {
        width: 190px;
        justify-content: start;
        font-size: 10px;
    }


    .footer-bottom {
        display: flex;
        font-size: 10px;
        margin-bottom: 50px;
    }

}

@media screen and (max-width:350px) {
    .footer {
        margin: 50px 70px;
    }


    .footer-bottom {
        display: flex;

        margin-bottom: 50px;
    }
}